.carousel{
  width:80%;
  margin:16px auto;
}
.container{
  width : 100%;
  height : 220px;
  /* outline: 8px solid red; */
  overflow: hidden;
  position: relative;
}

.container ul {
  list-style:none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  transition: transform .3s;
}

.container li {
  height: 100%;
  min-width: 100%;
}

.container li img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prev,
#next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: rgba(0,0,0,.8);
  color: white;
  font-size: 24px;
  padding: 0 8px 4px;
  cursor: pointer;
}

#prev:hover,
#next:hover{
  opacity: 0.8;
}

#prev{
  left: 0;
}
#next{
  right: 0;
}

.hidden{
  display: none;
}

nav {
  margin-top: 16px;
  text-align: center;
}

nav button + button{
  margin-left: 8px;
}
nav button{
  border: none;
  width: 16px;
  height: 16px;
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
}

nav .current{
  background: #999;
}
/* ↓↓↓↓↓タブ↓↓↓↓↓ */
body{
  font-size:14px;
}

.container2{
  margin:30px auto;
  width:500px;
}
.menu {
  list-style: none;
  padding: 0px;
  margin:0px;
  display:flex;
}
.menu li a{
  display:inline-block;
  width: 100px;
  text-align: center;
  padding:8px 0;
  color: #333;
  text-decoration: none;
}

.menu li a.active{
  background:#333;
  color:#fff;
}
.menu li a:not(.active):hover{ /* activeじゃないものにhoverした際の設定 */
  opacity: 0.5;
  transition: opacity 0.4s;
}

.content.active{ /* ここは、.content.activeと、つなげて書かないといけない。 */
  background:#333;
  color:#fff;
  min-height: 150px;
  display:block;
  padding: 8px 0;
  border-radius: 4px 4px 0 0;
}


.content{
  display:none;
}
/* ↓↓↓↓↓Modal↓↓↓↓↓ */

#open, #close{
  cursor: pointer;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  padding: 12px 0;
  margin: 16px auto 0;
}

#mask{
  background: rgba(0, 0, 0, 0.4);
  position:fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left:0;
  z-index: 1;/* 要素の前後関係の指定。指定しなければデフォルトは０ */
}

#modal.hidden{
  transform: translate(0, -500px);
}

#modal {
  background: #fff;
  width: 300px;
  padding: 20px;
  border-radius: 4px;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 1.4s;
  z-index: 2;
}

#modal >p {
  margin: 0 0 20px;
}
#mask.hidden{
  display: none;
}


/* ↓↓↓↓↓FAQ↓↓↓↓↓ */
h1{
  font-size: 18px;
  border-bottom: 1px solid;
  padding: 8px 16px;
  margin-bottom: 8px;
}

dl{
  margin:0;
}

dl >div{ /* dlタグの直下のdivタグという意味 */
  margin-bottom: 8px;
}

dt {
  padding: 8px;
  cursor: pointer;
  user-select: none; /* テキストが選択されないように。 */
  position:relative
}

dt::before{
  content: 'Q. '; /* 擬似要素としてQを追加 */
}
dt::after{
  content: '+';
  position: absolute; /* 親のpositionをrelativeにしておく必要あり。 */
  top:8px;
  right:16px;
  transition: transform 0.3s;
}
dd::before{
  content: 'A. '; /* 擬似要素としてAを追加 */
}

dl > div.appear dt::after{
  transform: rotate(45deg); /* プラスマークをバツマークに */
}

dd{
  padding: 8px;
  margin: 0;
  display: none;
}

dl > div.appear dd {
  display: block;
  animation: .3s fadeIn; /* もともとに文章のブロックがないので、transformは使えない。 */
}

@keyframes fadeIn {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}